<div class="container blogs-wrapper">
  <h1>Blog</h1>
  <p class="blog-capt">Our latest web design tricks, insights, and resources, hot off the presses</p>
  <div class="row blogs">
    <% @blogs.each do |blog| %>
      <div class="col-xl-4 col-lg-6 col-md-12">
        <%= link_to  blog_path(blog), class: "blog-link" do %>
          <div class="blog-card">
            <%= image_tag blog.image_url, class: "blog-image" %>
            <div class="blog-info">
              <div class="title-and-caption">
                <h3 class="blog-title"><%= blog.title %></h3>
                <p class="caption"><%= blog.description %></p>
              </div>
              <div class="author">
                <%= image_tag blog.author_image, class: "blog-author-avatar" %>
                <div class="author-info">
                  <p class="author-name"><%= blog.author %></p>
                  <p class="author-name">|</p>
                  <p class="author-name"><%= blog.publish_date %></p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<div class="pagination-wrapper">
  <%= will_paginate @blogs, page_links: false %>
</div>
<div class="page-number-wrapper">
  <p class="page-number"><%= @current_page %></p>
  <p class="page-number">/</p>
  <p class="page-number"><%= (@all_blogs.length/9.to_f).ceil %></p>
</div>
<%= javascript_pack_tag 'index.js' %>
