<div class="container blog-wrapper">
  <h1>Blog</h1>
  <p class="blog-capt">Our latest web design tricks, insights, and resources, hot off the presses</p>
  <div class="row blogs">
    <% @blogs.each do |blog| %>
      <div class="col-md-4">
        <div class="blog-card">
          <%= image_tag blog.image_url %>
          <div class="blog-info">
            <h3 class="blog-title"><%= blog.title %></h3>
            <p class="caption"><%= blog.description %></p>
            <div class="author">
              <%= image_tag blog.author_image, class: "blog-author-avatar" %>
              <div class="author-info">
                <p class="author-name"><%= blog.author %></p>
                <p class="author-name">|</p>
                <p class="author-name"><%= blog.publish_date %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <div class="col-md-4">
      <div class="blog-card">
        <%= image_tag 'blog-image1.png' %>
        <div class="blog-info">
          <h3 class="blog-title">10 Secret Tips For Managing A Remote Team</h3>
          <p class="caption">Our latest web design tricks, insights, and resources, hot off the presses. Our latest web design tricks, insights, and resources, hot off the.</p>
          <div class="author">
            <%= image_tag 'blog-avatar.png', class: "blog-author-avatar" %>
            <div class="author-info">
              <p class="author-name">John Birmingham</p>
              <p class="author-name">|</p>
              <p class=author-name>25 January, 2020</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="blog-card">
      </div>
    </div>
    <div class="col-md-4">
      <div class="blog-card">
      </div>
    </div>
  </div>
</div>
<%= javascript_pack_tag 'index.js' %>
