<div class="container">
  <div class="blog-wrapper">
    <h1><%= @blog.title %></h1>
    <div class="author author-show">
      <%= image_tag @blog.author_image, class: "blog-author-avatar avatar-show" %>
      <div class="author-info">
        <p class="author-name author-name-show"><%= @blog.author %></p>
        <p class="author-name author-name-show author-line">|</p>
        <p class="author-name author-name-show"><%= @blog.publish_date %></p>
      </div>
    </div>
  </div>
  <div class="blog-image-wrapper">
    <%= image_tag @blog.image_url, class: "main-blog-image" %>
  </div>
  <div class="blog-wrapper">
    <div class="content">
      <% @blog.content.each do |para| %>
        <p class="content-para"><%= para %></p>
      <% end %>
    </div>
    <div class="end-author-info">
      <%= image_tag @blog.author_image, class: "blog-author-avatar end-avatar" %>
      <div class="end-author-text">
        <p class="written-by">Written By</p>
        <h3 class="end-author-name"><%= @blog.author %></h3>
        <p class="caption end-caption">COO at Team, Author of Teamwork Makes the Dreamwork</p>
      </div>
    </div>
    <hr>
    <div class="comment-section">
      <h3 class="conversation">Join the Conversation</h3>
      <div class="comment-sub">
        <%= image_tag 'blank-avatar', class: "end-avatar" %>
        <form action="" class="comment-form">
          <input type="text" class="comment-input" placeholder="Comments">
        </form>
      </div>
    </div>
  </div>
</div>
