<div class="hero">
  <div class="container">
    <div class="hero-content">
      <h1>Instant collaboration for remote teams</h1>
      <p>All in one place for your remote team to chat, collaborate, and track project progress</p>
    </div>
    <form action="" class="early-access">
      <input type="text" class="email-input no-select" placeholder="Email">
      <input type="submit" class= "submit-btn btn btn-primary" value="Get Early Access">
    </form>
  </div>
</div>
<div class="container">
  <section class="section">
    <div class="teamwork-content">
      <div class="teamwork-text">
        <h1>Your hub for teamwork</h1>
        <p>Project discussions, important documents, free food announcements: they all live tidily together in Slack. Communication in Slack happens in channels, organised by project, topic, team or whatever makes sense for you".</p>
        <div class="learn">
          <a href="#">Learn more <%= image_tag 'link-arrow.png' %></a>
        </div>
      </div>
      <%= image_tag 'dashboard.png', class: "dashboard" %>
    </div>
  </section>
  <section class="section task-management">
    <div class="teamwork-content">
      <%= image_tag 'task.png', class: "split-section-image" %>
      <div class="teamwork-text">
        <h1>Simple task management</h1>
        <p>Project discussions, important documents, free food announcements: they all live tidily together in Slack. Communication in Slack happens in channels, organised by project, topic, team or whatever makes sense for you".</p>
        <div class="learn">
          <a href="#">Learn more <%= image_tag 'link-arrow.png' %></a>
        </div>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="teamwork-content">
      <div class="teamwork-text">
        <h1>Scheduling that actually works</h1>
        <p>Project discussions, important documents, free food announcements: they all live tidily together in Slack. Communication in Slack happens in channels, organised by project, topic, team or whatever makes sense for you".</p>
        <div class="learn">
          <a href="#">Learn more <%= image_tag 'link-arrow.png' %></a>
        </div>
      </div>
      <%= image_tag 'schedule.png', class: "split-section-image" %>
    </div>
  </section>
  <section class="section testimonial">
    <div class="container text-center my-3">
      <h3>Bootstrap 4 Multiple Item Carousel</h3>
      <div id="recipeCarousel" class="carousel slide w-100" data-ride="carousel">
        <div class="carousel-inner w-100" role="listbox">
          <div class="carousel-item row no-gutters active">
            <div class="col-3 float-left">
              <div class="card">
                <div class="card-content">
                  <%= image_tag 'Stars.png', class: "stars" %>
                  <p class="testimonial-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis.</p>
                  <div class="author">
                    <%= image_tag 'profile3', class: "profile-avatar" %>
                    <div class="author-text">
                      <p class="author-info author-name">Amy Goldberg</p>
                      <p class="author-info author-title">CEO at Blackrock</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-3 float-left">
              <div class="card">
                <div class="card-content">
                  <%= image_tag 'Stars.png', class: "stars" %>
                  <p class="testimonial-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis.</p>
                  <div class="author">
                    <%= image_tag 'profile3', class: "profile-avatar" %>
                    <div class="author-text">
                      <p class="author-info author-name">Amy Goldberg</p>
                      <p class="author-info author-title">CEO at Blackrock</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-3 float-left">
              <div class="card">
                <div class="card-content">
                  <%= image_tag 'Stars.png', class: "stars" %>
                  <p class="testimonial-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis.</p>
                  <div class="author">
                    <%= image_tag 'profile3', class: "profile-avatar" %>
                    <div class="author-text">
                      <p class="author-info author-name">Amy Goldberg</p>
                      <p class="author-info author-title">CEO at Blackrock</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-3 float-left">
              <div class="card">
                <div class="card-content">
                  <%= image_tag 'Stars.png', class: "stars" %>
                  <p class="testimonial-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis.</p>
                  <div class="author">
                    <%= image_tag 'profile3', class: "profile-avatar" %>
                    <div class="author-text">
                      <p class="author-info author-name">Amy Goldberg</p>
                      <p class="author-info author-title">CEO at Blackrock</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item row no-gutters">
            <div class="col-3 float-left">
              <div class="card">
                <div class="card-content">
                  <%= image_tag 'Stars.png', class: "stars" %>
                  <p class="testimonial-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis.</p>
                  <div class="author">
                    <%= image_tag 'profile3', class: "profile-avatar" %>
                    <div class="author-text">
                      <p class="author-info author-name">Amy Goldberg</p>
                      <p class="author-info author-title">CEO at Blackrock</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-3 float-left">
              <div class="card">
                <div class="card-content">
                  <%= image_tag 'Stars.png', class: "stars" %>
                  <p class="testimonial-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis.</p>
                  <div class="author">
                    <%= image_tag 'profile3', class: "profile-avatar" %>
                    <div class="author-text">
                      <p class="author-info author-name">Amy Goldberg</p>
                      <p class="author-info author-title">CEO at Blackrock</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#recipeCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#recipeCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <h4>Advances all 4 slides each time</h4>
    </div>
  </section>
</div>
<%= javascript_pack_tag 'home.js' %>
