<div class="hero">
  <div class="container">
    <div class="hero-content">
      <h1>Instant collaboration for remote teams</h1>
      <p>All in one place for your remote team to chat, collaborate, and track project progress</p>
    </div>
    <form action="" class="early-access">
      <input type="text" class="email-input no-select" placeholder="Email">
      <input type="submit" class= "submit-btn btn btn-primary" value="Get Early Access">
    </form>
  </div>
</div>
<div class="container">
  <section class="section">
    <div class="teamwork-content">
      <div class="teamwork-text">
        <h1>Your hub for teamwork</h1>
        <p>Project discussions, important documents, free food announcements: they all live tidily together in Slack. Communication in Slack happens in channels, organised by project, topic, team or whatever makes sense for you".</p>
        <div class="learn">
          <a href="#">Learn more <%= image_tag 'link-arrow.png' %></a>
        </div>
      </div>
      <%= image_tag 'dashboard.png', class: "dashboard" %>
    </div>
  </section>
  <section class="section task-management">
    <div class="teamwork-content">
      <%= image_tag 'task.png', class: "split-section-image" %>
      <div class="teamwork-text">
        <h1>Simple task management</h1>
        <p>Project discussions, important documents, free food announcements: they all live tidily together in Slack. Communication in Slack happens in channels, organised by project, topic, team or whatever makes sense for you".</p>
        <div class="learn">
          <a href="#">Learn more <%= image_tag 'link-arrow.png' %></a>
        </div>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="teamwork-content">
      <div class="teamwork-text">
        <h1>Scheduling that actually works</h1>
        <p>Project discussions, important documents, free food announcements: they all live tidily together in Slack. Communication in Slack happens in channels, organised by project, topic, team or whatever makes sense for you".</p>
        <div class="learn">
          <a href="#">Learn more <%= image_tag 'link-arrow.png' %></a>
        </div>
      </div>
      <%= image_tag 'schedule.png', class: "split-section-image" %>
    </div>
  </section>
</div>
<section class="section testimonial">
  <div class="view view-carousel">
    <h2 class="view-title">Carousel B</h2>
    <div class="view-content">
      <div class="views-row">
        <div class="card">
          <div class="card-content">
            <%= image_tag 'Stars.png', class: "stars" %>
            <p class="testimonial-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis.</p>
            <div class="author">
              <%= image_tag 'profile3', class: "profile-avatar" %>
              <div class="author-text">
                <p class="author-info author-name">Amy Goldberg</p>
                <p class="author-info author-title">CEO at Blackrock</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="views-row">
        <div class="card">
          <div class="card-content">
            <%= image_tag 'Stars.png', class: "stars" %>
            <p class="testimonial-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis.</p>
            <div class="author">
              <%= image_tag 'profile3', class: "profile-avatar" %>
              <div class="author-text">
                <p class="author-info author-name">Amy Goldberg</p>
                <p class="author-info author-title">CEO at Blackrock</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="views-row">
        <div class="card">
          <div class="card-content">
            <%= image_tag 'Stars.png', class: "stars" %>
            <p class="testimonial-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis.</p>
            <div class="author">
              <%= image_tag 'profile3', class: "profile-avatar" %>
              <div class="author-text">
                <p class="author-info author-name">Amy Goldberg</p>
                <p class="author-info author-title">CEO at Blackrock</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="views-row">
        <div class="card">
          <div class="card-content">
            <%= image_tag 'Stars.png', class: "stars" %>
            <p class="testimonial-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis.</p>
            <div class="author">
              <%= image_tag 'profile3', class: "profile-avatar" %>
              <div class="author-text">
                <p class="author-info author-name">Amy Goldberg</p>
                <p class="author-info author-title">CEO at Blackrock</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="views-row">
        <div class="card">
          <div class="card-content">
            <%= image_tag 'Stars.png', class: "stars" %>
            <p class="testimonial-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis.</p>
            <div class="author">
              <%= image_tag 'profile3', class: "profile-avatar" %>
              <div class="author-text">
                <p class="author-info author-name">Amy Goldberg</p>
                <p class="author-info author-title">CEO at Blackrock</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="card">
  <div class="card-content">
    <%= image_tag 'Stars.png', class: "stars" %>
    <p class="testimonial-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis.</p>
    <div class="author">
      <%= image_tag 'profile3', class: "profile-avatar" %>
      <div class="author-text">
        <p class="author-info author-name">Amy Goldberg</p>
        <p class="author-info author-title">CEO at Blackrock</p>
      </div>
    </div>
  </div>
</div>
<%= javascript_pack_tag 'home.js' %>
